{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h2>{% trans "Set up ORCID integration" %}</h2>
<div>
  <p>{% blocktrans trimmed with link="https://orcid.org/developer-tools" %}
  Please go to the <a href="{{ link }}" target=_blank rel=noopener>ORCID developer tools</a>
  to acquire your API credentials. Please enter this URL as your redirect URL:
  {% endblocktrans %}</p>

  <pre>
  {{ oauth_url }}</pre>
</div>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='event' %}
  <div class="submit-group panel">
      <span></span>
      <span class="d-flex flex-row-reverse">
          <button
            type="submit" class="btn btn-success btn-lg"
            name="action" value="save"
          >
              <i class="fa fa-check"></i>
              {% trans "Save" %}
          </button>
      </span>
  </div>
</form>

{% endblock %}
