{% extends "cfp/event/submission_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load orga_edit_link %}
{% load rich_text %}
{% load rules %}
{% load static %}

{% block cfp_header %}
<link rel="stylesheet" type="text/css" href="{% static "pretalx_orcid/orcid.css" %}" />
{% endblock %}

{% block inner %}
    <div class="d-flex">
      <h2>{% trans "ORCID Login" %}</h2>
    </div>
    <p>
      {% blocktrans trimmed %}
      If you want to, you can authenticate with ORCID – your name, organisation, and ORCID ID will be pre-filled from your ORCID account.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
      ORCID is an independent non-profit organization that provides a
      persistent identifier – an ORCID iD – that distinguishes you from other
      researchers and a mechanism for linking your research outputs and
      activities to your iD. ORCID is integrated into many systems used by
      publishers, funders, institutions, and other research-related services.
      Learn more at <a href="https://orcid.org">orcid.org</a>.
      {% endblocktrans %}
    </p>
{% endblock %}

{% block buttons %}
        <div class="row wizard-row">
            <div class="col-md-4 ml-auto">
                <p class="d-flex">
                    <a id="connect-orcid-button" href="{{ orcid_url }}"><img id="orcid-id-icon" src="{% static "pretalx_orcid/orcid_24x24.png" %}" width="24" height="24" alt="ORCID iD icon"/>Register or Connect your ORCID iD</a>
                    </p>
                <button type="submit" class="btn btn-block btn-outline-success btn-lg">
                    {% trans "Continue without ORCID" %} &raquo;
                </button>
            </div>
            <div class="col-md-3 d-flex">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-block btn-info btn-lg mt-auto">
                        &laquo; {% trans "Back" %}
                    </a>
                {% endif %}
            </div>
        </div>
{% endblock %}
